
DOMAIN=localhost
FRONTEND_HOST=http://localhost:8080
ENVIRONMENT=development
PROJECT_NAME="BudgetAdvisor AI"
STACK_NAME=full-stack-fastapi-project

# Backend
BACKEND_CORS_ORIGINS=
SECRET_KEY=
FIRST_SUPERUSER=
FIRST_SUPERUSER_PASSWORD=

# Emails
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=
SMTP_TLS=
SMTP_SSL=
SMTP_PORT=

# Postgres
POSTGRES_SERVER=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

SENTRY_DSN=

# Configure these with your own Docker registry images
DOCKER_IMAGE_BACKEND=backend

OPENAI_API_KEY=
ELEVENLABS_API_KEY=
FIRECRAWL_API_KEY=